header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    scroll-margin-top: 20rem;
}

header .header__left {
    max-width:  62rem;
    flex: 1;
}

header .header__left p{
    margin-top: 2rem;
    margin-bottom: 4rem;
    max-width: 50rem;
}

header .header__right .header__image {
    position: relative;
    line-height: 0;
    border-radius: 100%;
}

header .header__right .header__image .vinicius{
    border-radius: 0.5rem;
    min-width: 25rem;
    max-width: 100%;
    
}

header .header__right .header__image .background{
    position: absolute;
    top: -4rem;
    right: -2.5rem;
    z-index: -1;
}

header h1 {
    color: #00ADB5;
}

header p {
    color: #fff;
}

@media only screen and (max-width: 768px) {
    header {
      flex-direction: column-reverse;
      text-align: center;
    }
  
    header .header__left p {
      margin: 2rem auto 4rem;
    }
  }