.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #222831;
    color: #fff;
  }

  .navbar hr{
    color: #00ADB5;
  }
  
   .navbar .navbar__content {
    padding: 1rem 4rem 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar .navbar__content .navbar__links li {
    display: inline-block;
  }
  
  .navbar .navbar__content .navbar__links li:not(:last-of-type) {
    margin-right: 2rem;
  }
  
  .navbar .navbar__content .navbar__links a {
    padding: 1rem;
    display: inline-block;
  }
  
  .navbar .navbar__content .navbar__links a:hover {
    color: #00ADB5;
  }
  
  .navbar.active {
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  
  .navbar .navbar__content .navbar__mobile,
  .navbar .navbar__content .navbar__mobile .mobile__links {
    display: none;
  }
  
 /*jQuerry Class*/
 .select__language.change-br:before {
  background-image: url(https://img.icons8.com/color/48/brazil.png)}

  .select__language.change-en:before {
    background-image: url(https://img.icons8.com/color/48/usa.png)
}

.language {
  position: relative;
  width: 120px;
  margin-left: 40px;
  font-weight: bold;
}

.select__language{
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.select__language::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(https://img.icons8.com/color/48/brazil.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.language ul {
  position: absolute;
  width: 140px;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  padding-top: 10px;
  display: none;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.language ul li {
  list-style: none;
}

.language ul li a{
  display: block;
  color: #00ADB5;
  padding-top: 5px 10px;
}

.language ul li:hover {
  background-color: #f8f8f8;
}

.language ul li a::before{
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}

a.br::before {
  background-image: url(https://img.icons8.com/color/48/brazil.png);
}
a.en::before {
  background-image: url(https://img.icons8.com/color/48/usa.png);
}

.language:hover ul{
  display: list-item;
}



  @media only screen and (max-width: 768px) {
    .navbar .navbar__content .navbar__links {
      display: none;
    }
  
    .navbar .navbar__content .navbar__mobile {
      display: flex;
      align-items: center;
    }
  
    .navbar .navbar__content .navbar__mobile img {
      width: 3.6rem;
      height: 3.6rem;
      cursor: pointer;
    }
  
    .navbar .navbar__content .navbar__mobile.active .mobile__links {
      display: flex;
      flex-direction: column;
      background-color: #00acb56b;
      width: 100%;
      position: absolute;
      top: 98%;
      left: 0;
      padding: 1rem 0;
      box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
      z-index: 1;
      
    }
  
    .navbar .navbar__content .navbar__mobile.active .mobile__links li {
      margin-right: 0;
      
    }
  
    .navbar .navbar__content .navbar__mobile.active .mobile__links li a {
      padding: 1rem;
      display: block;
      text-align: center;
      
    }
  }
  